<table class="table text-white text-center">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            
        </tr>
    </thead>

    <tbody>
         <tr *ngFor="let postObj of myPosts">
            <td>{{postObj.userId}}</td>
            <td>{{postObj.id}}</td>
            <td>{{postObj.title}}</td>
            <td>{{postObj.body}}</td>
        </tr> 

        <!-- <tr *ngFor="let userObj of myUsers.data">
            <td>{{userObj.id}}</td>
            <td>{{userObj.email}}</td>
            <td>{{userObj.first_name}}</td>
            <td>{{userObj.last_name}}</td>
            <td><img src={{userObj.avatar}} alt=""></td>
        </tr> -->

    </tbody>
</table>